* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
}
.header {
  background-color: red;
  padding: 5px;
}
.Notification {
  font-weight: bold;
}

nav {
  width: 100%;
  background: #0f1419;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  margin: 0 4rem;
}

nav ul a {
  display: inline-block;
  color: #e8eaed;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 500;
}
