.container-main{
    width: 500px;
    text-align: center;
    flex: 1;
}
div {
  background-color: #242b4d;
  padding: 5px;
  margin: 5px;
}
.punten {
  background-color: #66bb6a;
}
.Ontwikkeling {
  background-color: #f44336;
}
.punten,
.Ontwikkeling {
  color: white;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-color: #0f1419;
  border-radius: 5px;
}
.container{
  display: flex;
  gap: 5px;
}
.box {
  flex: 1;
  padding: 5px;

}
h1{
    font-size: 48px;
    font-weight: bold;
    color: #4fc3f7;
}
