/*Website onderdelen*/
body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: yellow;
}

footer{
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}

/*Form design*/

fieldset{
    border: none;
}

legend{
    font-weight: 700;
    font-size: 20px;
}

/*Klassen*/

.TopSection{
    text-align: center;
}

.highlight{
    background-color: yellow;
    color: black;
}

.container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main"
    "footer footer footer";
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.container1{
    background-color: black;
    color: yellow;
    padding: 5%;
}

.container2{
    background-color: yellow;
    color: black;
}

.h2{
    padding-left: 20px;
}

.h3{
    padding-left: 20px;
}

.p{
    padding-left: 20px;
    padding-right: 20px;
}

.container3{
    background-color: black;
    color: yellow;
    padding: 5%;
}

.imageContainer{
    text-align: center;
    padding: 20px;
}

.image{
    width: 95%;
    height: auto;
}

/*Custom Navbar*/

.nav{
    background-color: yellow;
    padding: 5px;
}

.ul{
    list-style-type: none;
    overflow: hidden;
    margin: 5px 0 5px 0;
    padding: 0px;
}

.li{
    list-style-type: none;
    display: inline;
    padding: 5px;
    margin: none;
    float: left;
    background-color: yellow;
    color: black;
}

.li:hover{
    color: yellow;
    background-color: black;
}

/*Responsief gedrag webpagina*/
@media (max-width: 800px){
    .container{
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    }

    .image{
        width: 100%;
        height: auto;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}